@import url(./font.css);

body {
    background-color: #100E0F;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #100E0F;
}

p {
    font-family: 'kanit';
}

h1, h5{
    font-family: 'newtown';
}

.nav-item a {
    color: #fff;
    font-family: 'newtown';
    font-size: 20px;
    text-transform: lowercase;
    transition: .5s;
}

.navbar-toggler {
    background-color: #f5b7e6d2;
}

.nav-item a:hover {
    transition: .3s;
    color: #F5B7E5;
}

.web {
    font-size: 80px;
    color: #F5B7E5;
    font-family: 'newtown';
    text-transform: uppercase;
}

.me {
    overflow: hidden;
}

.one {
    position: relative;
}

.two {
    position: relative;
    bottom: 50px;
}

.glav {
    color: #F5B7E5;
    font-family: 'newtown';
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mt {
    margin-top: 90px;
}

.neglav {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

.btn {
    background-color: #F5B7E5;
    color: #100E0F;
    width: 204px;
    height: 92px;
    border-radius: 8px;
    text-align: center;
    font-family: 'kanit';
    font-size: 20px;
    position: relative;
    bottom: 50px;
}

.btn:hover {
    background-color: #F5B7E5;
    box-shadow: 4px 4px 20px 2px rgba(255, 255, 255, 0.4);
}

.me {
    margin-bottom: 140px;
}

.skills {
    color: #F5B7E5;
    /* background-color: #F5B7E5; */
    text-align: center;
    font-size: 50px;
    width: 550px;
    height: 90px;
    line-height: 170%;
}

.text {
    color: #fff;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill {
    overflow: hidden;
    margin-bottom: 100px;
}

.skill .container {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F5B7E5;
    justify-content: center;
    box-shadow: 0px 0px 100px -30px rgba(245, 183, 229, 0.2);
    margin-bottom: 100px;
}
.portfolio .card img{
    height: 700px;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}
.portfolio .card{
    background-color: #F5B7E5;
    text-align: center;
}
.portfolio{
    margin-bottom: 140px;
}
.card-title{
    color: #100E0F;
    font-size: 26px;
}

.card-text{
    font-size: 20px;
}
.btn2 {
    background: none;
    color: #100E0F;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-family: 'kanit';
    font-size: 20px;
    border: 2px solid #100E0F;
    transition: .5s;
}
.btn2:hover{
    color: #F5B7E5;
    background-color: #100E0F;
    transition: .3s;
}
.carousel-control-next-icon{
    background-image: url(../img/icons8-стрелка-вправо-50.png);
}
.carousel-control-prev-icon{
    background-image: url(../img/icons8-назад-50\ \(1\).png);
}
.carier{
    margin-bottom: 140px;
}
.down{
    font-size: 40px;
}
label{
    font-family: 'kanit';
    color: #fff;
    font-size: 26px;

}
.form-control{
    height: 50px;
    background-color: #F5B7E5;
    border: 1px solid #F5B7E5;
    color:#100E0F;
    font-family: 'kanit';
}
.form-control:focus{
    background-color: #f8dff2;
    color:#100E0F;
    font-family: 'kanit';
}

footer{
    background-color: #F5B7E5;
    overflow: hidden;
}
.tg {
    width: 100px;
    height: 100px;
    transition: .5s;
    border-radius: 50%;
}
.tg:hover{
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s;
}

@media(max-width:1200px){
    .web{
        font-size: 60px;
    }
    .one{
        width: 500px;
        height: auto;
    }
    .glav{
        font-size: 50px;
        margin-bottom: 10px;
    }
    .neglav{
        font-size: 16px;
    }
    .two{
        width: 700px;
        bottom: 20px;
    }
    .btn{
        width: 150px;
        height: 65px;
        bottom: 20px;
        font-size: 16px;
    }
    .skills{
        font-size: 48px;
    }
    .text{
        font-size: 20px;
    }
    .portfolio .card img{
        height: 500px;
        width: auto;
    }
    form .block {
        width: 80%;
    }
    .tg{
        width: 80px;
        height: 80px;
    }
    .tg:hover{
        width: 60px;
        height: 60px;
    }
}
@media(max-width:992px){
    .web{
        font-size: 80px;
    }
    .one{
        width: 680px;
    }
    .two{
        bottom: 450px;
    }
    .neglav{
        font-size: 20px;
    }
    .btn{
        bottom: 60px;
        font-size: 20px;
        width: 200px;
    }
    .skills{
        font-size: 40px;
    }
    .skill .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .skill .container .block{
        width: 80%;
        margin-bottom: 50px;
    }
    .h-100{
        width: 537px;
    }
    .cari{
        display: flex;
        justify-content: center;
    }
    form .block{
        width: 90%;
    }
    .tg{
        width: 70px;
    }
    .tg:hover{
        width: 50px;
        height: 50px;
    }
    .foot{
        font-size: 14px;
    }
}
@media(max-width:768px){
    .web{
        font-size: 55px;
    }
    .one{
        width: 500px;
    }
    .two{
        width: 500px;
    }
    .glav{
        font-size: 48px;
    }
    .neglav{
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
        bottom: 50px;
    }
    .portfolio .card img {
        height: 400px;
        width: auto;
    }
    .carousel-control-next, .carousel-control-prev{
        bottom: 200px;
    }
    .card-title{
        font-size: 22px;
    }
    .card-text{
        font-size: 16px;
    }
    .btn2{
        font-size: 16px;
        width: 160px;
    }
    .h-100{
        width: 412px;
    }
    .qwer{
        font-size: 20px !important;
    }
    label{
        font-size: 20px;
    }
    .tg{
        width: 60px;
        height: 60px;
    }
    .tg:hover{
        background: none;
    }
    .two{
        bottom: 350px;
    }
}
@media(max-width:576px){
    .web{
        font-size: 30px;
    }
    .one{
        width: 250px;
    }
    .two{
        width: 300px;
        bottom: 360px;
    }
    .glav{
        font-size: 26px;
    }
    .neglav{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .navbar-toggler{
        width: 50px;
        height: 30px;
    }
    .navbar-toggler-icon{
        height: 20px;
        width: 20px;
    }
    .nav-item a{
        font-size: 16px;
    }
    .btn{
        font-size: 14px;
        width: 140px;
        height: 50px;
        bottom: 30px;
    }
    .me .container{
        text-align: center;
    }
    .skills{
        font-size: 20px;
    }
    .text{
        font-size: 14px;
    }
    .skill .container .block{
        width: 100%;
    }
    .zagolovok{
        height: 50px;
    }
    .portfolio .card img{
        height: 250px;
    }
    .card-title{
        font-size: 20px;
    }
    .card-text{
        font-size: 14px;
    }
    .btn2{
        font-size: 14px;
        width: 140px;
    }
    .down{
        font-size: 20px;
    }
    form .block{
        width: 95%;
    }
    label{
        font-size: 16px;
    }
    .glav{
        font-size: 20px !important;
    }
    .tg{
        width: 40px;
        height: 40px;
    }
    .foot{
        font-size: 12px;
    }
}
form .container{
    width: 60%;
}