@import url(./font.css);

body {
    background-color: #100E0F;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #100E0F;
}

p {
    font-family: 'kanit';
}

h1 {
    font-family: 'newtown';
}

.nav-item a {
    color: #fff;
    font-family: 'newtown';
    font-size: 20px;
    text-transform: lowercase;
    transition: .5s;
}

.navbar-toggler {
    background-color: #f5b7e6d2;
}

.nav-item a:hover {
    transition: .3s;
    color: #F5B7E5;
}

.web {
    font-size: 80px;
    color: #F5B7E5;
    font-family: 'newtown';
    text-transform: uppercase;
}

.me {
    overflow: hidden;
}

.one {
    position: relative;
}

.two {
    position: relative;
    bottom: 50px;
}

.glav {
    color: #F5B7E5;
    font-family: 'newtown';
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mt {
    margin-top: 90px;
}

.neglav {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

.btn {
    background-color: #F5B7E5;
    color: #100E0F;
    width: 204px;
    height: 92px;
    border-radius: 8px;
    text-align: center;
    font-family: 'kanit';
    font-size: 20px;
    position: relative;
    bottom: 50px;

}

.btn:hover {
    background-color: #F5B7E5;
    box-shadow: 4px 4px 20px 2px rgba(255, 255, 255, 0.4);
}

.me {
    margin-bottom: 140px;
}

.skills {
    color: #F5B7E5;
    /* background-color: #F5B7E5; */
    text-align: center;
    font-size: 50px;
    width: 550px;
    height: 90px;
    line-height: 170%;
}

.text {
    color: #fff;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill {
    overflow: hidden;
    margin-bottom: 140px;
}

.skill .container {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F5B7E5;
    justify-content: center;
    box-shadow: 0px 0px 100px -30px rgba(245, 183, 229, 0.2);
    margin-bottom: 100px;
}